.todo-input-wrapper{
  margin-bottom: 20px;
}

.btn{
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
}

.btn-primary{
  color:  #507DBC;
  border-color:  #507DBC;
  background-color: transparent;
}

input{
  width: 80%;
  border: none;
  border-top: 2px solid  #507DBC;
  border-bottom: 2px solid  #507DBC;
  margin-right: 10px;
  padding: 5px;
  line-height: 17px;
}

input:focus{
  outline: none;
  border: none;
  border-top: 2px solid  rgba(255, 38, 0, 0.692);
  border-bottom: 2px solid  rgba(255, 38, 0, 0.692);
}
